h1 {
    margin:100px 0 20px;
    text-align:center;
}

#form1 {
    display:block;
    max-width:600px;
    margin:0 auto;
}


.form-control + .autocomplete {
    position:absolute;
    margin-top:-31px;
    margin-left:13px;
    color:#000;
    opacity:0.4;
    pointer-events:none;
}

.the-form input::selection {
    background:#ddd;
}
.the-form input.invalid {
    border:1px solid #dc3545;
}

.the-form .invalid-message {
    font-size:13px;
    color:#dc3545;
}
